@use "sass:math";
@use "breakpoints";
@use "named-list";
@use "dashboard-item";

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 2em;
  min-height: 0;

  @include breakpoints.small-width {
    padding: 1em;
  }

  @include breakpoints.extra-small-width {
    padding: 0;
  }

  .quantity,
  h3 {
    font-weight: 900;
  }
}
