@use "helpers";

.item-actions {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  gap: 1em;
  padding: {
    right: 0.5em;
    top: 0.5em;
  }

  > li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: #cacaca;
    position: relative;

    @include helpers.scale-on-hover(1.4);

    button {
      background: none;
      border: none;
    }

    &:first-child {
      padding: {
        left: 0.1em;
        bottom: 0.1em;
      }
    }
  }
}

.item-wrapper {
  position: relative;

  @include helpers.scale-on-hover;

  &:hover,
  &:active {
    .item-actions {
      visibility: visible;
    }
  }

  &:last-child {
    margin-bottom: 5em;
  }
}
