@use "sass:list";
@use "reset";
@use "side-bar";
@use "top-bar";
@use "breakpoints";

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1em repeat(14, 1fr);
  grid-template-columns: repeat(10, 1fr);

  @include breakpoints.extra-small-width {
    display: flex;
    flex-direction: column;
    max-height: none;
    height: unset;
    min-height: 100vh;
  }
}

$top-bar-end: 3;

.side-bar {
  grid-row: 1 / -1;
  grid-column: 1 / 3;
}

.top-bar {
  grid-row: list.slash(1, $top-bar-end);
  grid-column: 3 / -1;
}

$main-bg: #f0f0f0;

main {
  overflow: auto;
  background-color: $main-bg;

  // box shadow top
  box-shadow: inset 0 6px 9px -10px rgb(0 0 0 / 50%);
  grid-row: list.slash($top-bar-end, -1);
  grid-column: 3 / -1;
}

@include breakpoints.small-width {
  $top-bar-offset: 1;

  .top-bar {
    grid-row: list.slash(1, $top-bar-end + $top-bar-offset);
  }

  main {
    grid-row: list.slash($top-bar-end + $top-bar-offset, -1);
    flex: auto;
  }
}
