@use "breakpoints";

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;

  $input-height: 2em;

  > time {
    font-size: 1.5em;
    font-weight: 900;
    flex: 1.5;
  }

  > form {
    flex: 1;
    display: flex;
    align-items: center;
  }

  input {
    flex: 1;
    height: $input-height;
    background-color: #ebebf5;
    border: none;
  }

  button {
    cursor: pointer;
    height: $input-height;
    background-color: black;
    border: none;
    padding: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  @include breakpoints.small-width {
    flex-direction: column;
    gap: 1em;
    padding: 0 2em;
    justify-content: center;

    form,
    > time {
      flex: 0 !important;
    }
  }

  @include breakpoints.extra-small-width {
    padding: 2em 0;
  }
}

img {
  display: block;
  width: 1em;
  height: 1em;
}
