@use "reset";

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  gap: 1em;

  > h1 {
    font-weight: 900;
    font-size: 2em;
    text-align: center;
  }
}
