<div class="dashboard">

    <div class="named-list">
        <h2>Dashboard</h2>	
        <ul>
            <li><%- include('_dashboard-item', {itemName: 'Games', quantity: gameCount, url: '/games'}) %></li>
            <li><%- include('_dashboard-item', {itemName: 'Publishers', quantity: publisherCount, url: '/publishers'}) %></li>
            <li><%- include('_dashboard-item', {itemName: 'Genres', quantity: genreCount, url: '/genres'}) %></li>
        </ul>
    </div>


</div>
