<a href="<%=url%>" class="dashboard-item">
    <p class="quantity"><%=quantity%></p>
    <h3><%=itemName%></h3>
    <p class="label">
        See more
        <img src="right-arrow-svgrepo-com.svg" alt="more info">
    </p>
</a>
