<a href="/" class="dashboard-item">
    <p class="quantity">10</p>
    <h3>Items in stock</h3>
    <p class="label">More Info
        <img src="right-arrow-svgrepo-com.svg" alt="more info">
    </p>
</a>
