<ul class="item-actions">
    <li>
        <a href="/<%=itemType%>/update/<%=itemId%>">
            <img src="/edit-button-svgrepo-com.svg" alt="edit">
        </a>
    </li>
    <li>
        <a href="/<%=itemType%>/delete/<%=itemId%>">
            <img src="/garbage-svgrepo-com.svg" alt="delete">
        </a>
    </li>

</ul>
