<div class="item-wrapper">
    <%- include('_item-actions', {itemType: 'publishers', itemId: publisher.id}) %>
    <a href="/" class="item">
        <img src="<%=publisher.b64%>" alt="<%=publisher.name%>">
        <h3><%=publisher.name%></h3>
    </a>
</div>
