<div class="side-bar">
    <div class="side-bar-inner">
        <h1>Game Inventory</h1>	
        <a href="/">Dashboard</a>



        <nav>
            <h2>Categories</h2>
            <ul>
                <li>
                    <a href="/games">Games</a>
                    <a aria-label="Add game">+</a>
                </li>
                <li>
                    <a href="/customers">Developers</a>
                    <a aria-label="Add developer">+</a>
                </li>
                <li>
                    <a href="/rentals">Genres</a>
                    <a aria-label="Add genre">+</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
