<div class="side-bar">
    <div class="side-bar-inner">
        <h1>Game Inventory</h1>	
        <a href="/">Dashboard</a>



        <nav>
            <h2>Categories</h2>
            <ul>
                <li>
                    <a href="/games">Games</a>
                    <a aria-label="Add game">+</a>
                </li>
                <li>
                    <a href="/publishers/">Publishers</a>
                    <a aria-label="Add publisher" href="/publishers/new">+</a>
                </li>
                <li>
                    <a href="/genres/">Genres</a>
                    <a aria-label="Add genre" href="/genres/new">+</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
