<div class="top-bar">
    <time><%= Date.getCurDateFormatted() %></time>

    <form action="/search">
        <label for="search">Search:</label>
        <input
            type="search"
            name="query"
            id="search"
        >
        <button type="submit">
            <img src="/search-svgrepo-com.svg" alt="search">
        </button>
    </form>
</div>
