<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
        <title>Game Inventory</title>
    </head>
    <body>
        <%- include('_side-bar') %>
        <%- include('_top-bar') %>
        <main>

            <%- include('_dashboard') %>
        </main>
    </body>
</html>
