<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Publishers</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <%- include('_side-bar') %>
        <%- include('_top-bar') %>

        <main>
            <%- include('_list', {listTitle: 'Publishers', componentName: '_publisher-item', list: publisherList, itemName: 'publisher'})%>
        </main>
    </body>
</html>
